---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---
<BaseLayout title={pageTitle} description="About Riza Sakura">
  <div class="prose dark:prose-invert lg:prose-xl max-w-none">
    <h1 class="text-slate-900 dark:text-slate-100">{pageTitle}</h1>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <div class="md:col-span-1">
        <img src="/images/アイコン.jpg" alt="A placeholder image for the profile picture" class="rounded-full w-48 h-48 mx-auto md:mx-0">
      </div>
      <div class="md:col-span-3">
        <div class="flex items-center gap-3">
        	<h2 class="text-2xl font-bold text-slate-900 dark:text-slate-100">りざくら</h2>
        </div>
        <p class="mt-4">
          This is where your bio will go. You can write about your interests, your work, or anything else you want to share with the world. 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.
        </p>
      </div>
    </div>

    <h2 class="mt-16 text-3xl font-bold text-slate-900 dark:text-slate-100">My Skills</h2>
    <ul class="list-disc list-inside mt-4 space-y-2">
      <li>Web Development (Astro, React, Tailwind CSS)</li>
      <li>Content Creation</li>
      <li>Sleeping</li>
      <li>Eating</li>
    </ul>

  </div>
</BaseLayout>
